---
---

@import "{{ site.theme }}";

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  background: transparent url(https://xrayfel.github.io/images/registrationbutton.png) 0 0 no-repeat;
}

a.button2 {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button2 small {
  display: block;
  font-size: 11px;
}
header a.button2 {
  position: relative;
  margin-top: 1rem;
  background: transparent url(https://xrayfel.github.io/images/schedulebutton.png) 0 0 no-repeat;
}


a.button3 {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button3 small {
  display: block;
  font-size: 11px;
}
header a.button3 {
  position: relative;
  margin-top: 1rem;
  background: transparent url(https://xrayfel.github.io/images/locationbutton.png) 0 0 no-repeat;
}

header .buttoncontainer{
  position: relative;
  top: 0;
  right: 0;
}

header .register{
  position: absolute;
  top: -100%;
}

header .program{
  position: absolute;
  top: -50%;
}

header .venue{
  position: absolute;
  top: 0%;
}

.page-header {
  font-family: "Gill Sans", sans-serif;
  color: #000;
  text-align: center;
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
