---
---

@import "{{ site.theme }}";

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(https://xrayfel.github.io/images/button.png) 0 0 no-repeat;
}

a.button2 {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button2 small {
  display: block;
  font-size: 11px;
}
header a.button2 {
  position: absolute;
  top: 1;
  right: 0;
  background: transparent url(https://xrayfel.github.io/images/button.png) 0 0 no-repeat;
}

a.button3 {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: "Gill Sans", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button3 small {
  display: block;
  font-size: 11px;
}
header a.button3 {
  position: absolute;
  top: 2;
  right: 0;
  background: transparent url(https://xrayfel.github.io/images/button.png) 0 0 no-repeat;
}

